            <table id="customers">
                <thead>
                    <tr >
                        <th *ngFor="let key of accountKeys">{{key | titlecase}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accountsList">
                        <td>{{account.date}}</td>
                        <td>{{account.chequeNo}}</td>
                        <td>{{account.valueDate}}</td>
                        <td>{{account.withdrawal | currency:'INR'}}</td>
                        <td>{{account.deposit | currency:'INR'}}</td>
                        <td>{{account.closingBalance | currency:'INR'}}</td>
                    </tr>
                </tbody>
            </table>